body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  text-align: center;
}

#webcam {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.445);
  margin-left: auto;
  margin-right: auto;
}

.webcam-front {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.webcam-rear {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

#btn-close {
  width: 120px;
  height: 35px;
  font-size: 16px;
}

#btn-flip {
  width: 120px;
  height: 35px;
  font-size: 16px;
}
